main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

a {
  text-decoration: none;
}

.card-width {
  width: 288px !important;
  margin: 1em !important;
}

.pagination {
  justify-content: center;
}

@media (min-width: 1400px) {
  .card-img-top {
    height: 227px !important;
    width: 270px;
    object-fit: cover;
  }
}

@media (max-width: 770px) {
  .card-img-top {
    /* height: 227px !important; */
    /* width: 270px; */
    object-fit: fill;
  }
}

.card-img-top {
  height: 227px !important;
  object-fit: cover;
}

.carousel-img {
  height: 227px !important;
  width: 227px;
  object-fit: cover;
}

.product-img {
  height: 546px !important;
  width: 546px;
  object-fit: cover;
}

.black-marble {
  background-image: url('https://i.pinimg.com/originals/56/f9/e2/56f9e272de8708a62f2b94d941382415.jpg');
  background-size: cover;
}

.carrousel-fade-img {
  /* height: 100% !important; */
  width: 100% !important;
  object-fit: cover;
  border-radius: 0 !important;
}

.latest {
  background-image: linear-gradient(
      239deg,
      rgba(0, 0, 0, 0.356) 0%,
      rgba(0, 0, 0, 0.089) 100%
    ),
    url(https://res.cloudinary.com/maurechi/image/upload/v1621536123/Ailin_hibs0i.jpg);
  margin: 2em 0;
  height: 10em;
  background-position: 35% 36%;
  background-size: cover;
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
}

.black {
  color: #343a40 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #343a40 !important;
}

.white {
  color: white;
}

.form-control {
  height: auto;
}

h4 {
  font-size: 1.1rem;
}
/* carousel */

.bold {
  font-weight: bold;
}
.marble {
  background-image: linear-gradient(
      239deg,
      rgba(0, 0, 0, 0.13) 0%,
      rgba(0, 0, 0, 0.041) 100%
    ),
    url('https://static.vecteezy.com/system/resources/previews/001/849/803/non_2x/beige-marble-texture-free-photo.jpg');
  background-size: cover;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #343a40;
}

.carousel img {
  height: 100px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
